<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bc945c94ff.js" crossorigin="anonymous"></script>

    <title>val3dity report explorer</title>
  </head>
  <body>
    <div id="app">
      <div v-if="file_loaded">
        <div class="container">
          <div class="row">
            <main class="col-12 py-md-3">
              <div class="page-header text-center">
                <h2><img src="./img/val3dity2.png" width=250 alt=""/></h2>
              </div>
              <br>
              <!-- OVERVIEW -->
              <div class="card">
                <div class="card-header text-center bg-primary text-white">
                  input
                </div>
                <div class="card-body">
                  <table class="table table-sm">
                    <tbody>
                      <tr>
                        <th scope="row">input file</th>
                        <td>{{ report.input_file }}</td>
                      </tr>
                      </tr>
                      <tr>
                        <th scope="row">val3dity version</th>
                        <td>{{ report.val3dity_version }}</td>
                      </tr>
                      <tr>
                        <th scope="row">validation time</th>
                        <td>{{ report.time }}</td>
                      </tr>
                      <tr v-for="(value, name) in report.parameters">
                        <th scope="row">{{ name }}</th>
                        <td>{{ value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card my-3">
                <div class="card-header text-center bg-info text-white">
                  Overview
                </div>
                <div class="card-body">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="isitvalid-tab" data-toggle="tab" href="#isitvalid" role="tab" aria-controls="isitvalid" aria-selected="true">
                        <span v-if="report.validity == true" class="badge badge-success">valid</span>
                        <span v-else class="badge badge-danger">invalid</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="errors-tab" data-toggle="tab" href="#errors" role="tab" aria-controls="errors" aria-selected="false">
                        Errors in the file
                        <span v-if="report.all_errors.length == 0" class="badge badge-success">0</span>
                        <span v-else class="badge badge-danger">{{ report.all_errors.length }}</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">
                        Features
                        <span v-if="report.features_overview !== null" class="badge badge-info">{{ report.features_overview.length }}</span>
                        <span v-else class="badge badge-info">0</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="primitives-tab" data-toggle="tab" href="#primitives" role="tab" aria-controls="primitives" aria-selected="false">
                        Primitives
                        <span v-if="report.primitives_overview !== null" class="badge badge-info">{{ report.primitives_overview.length }}</span>
                        <span v-else class="badge badge-info">0</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="dataseterrors-tab" data-toggle="tab" href="#dataseterrors" role="tab" aria-controls="dataseterrors" aria-selected="false">
                        File errors
                        <span v-if="report.dataset_errors !== null" class="badge badge-danger">{{ report.dataset_errors.length }}</span>
                        <span v-else class="badge badge-success">0</span>
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <!-- ISITVALID -->
                    <div class="tab-pane fade show active" id="isitvalid" role="tabpanel" aria-labelledby="isitvalid-tab">
                      <br>
                      <img v-if="report.validity == true" src="./img/welldone.png" width=100 alt=""/>
                      <div v-if="report.validity == false">
                        <div class="alert" :class="getAlertClass(getOverviewPercentage(report.primitives_overview))" role="alert">
                          <b>Primitives:</b> {{ getOverviewPercentage(report.primitives_overview) }}% are valid
                        </div>
                        <div class="alert" :class="getAlertClass(getOverviewPercentage(report.features_overview))" role="alert">
                          <b>Features:</b> {{ getOverviewPercentage(report.features_overview) }}% are valid
                        </div>
                      </div>
                    </div>                    
                    <!-- ERRORS -->
                    <div class="tab-pane fade" id="errors" role="tabpanel" aria-labelledby="errors-tab">
                      <br>
                      <table class="table table-sm table-striped">
                        <tbody>
                          <tr v-for="e in report.all_errors">
                            <th scope="row">{{ e }}</th>
                            <td><a v-bind:href="errors[e].link">{{ errors[e].name }}</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- FEATURES -->
                    <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
                      <br>
                      <table class="table table-sm table-striped">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">total</th>
                            <th class="text-success" scope="col">valid</th>
                            <th class="text-danger" scope="col">invalid</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="f in report.features_overview">
                            <th scope="row">{{ f.type }}</th>
                            <td>{{ f.total }}</td>
                            <td>{{ f.valid }}</td>
                            <td>{{ f.total - f.valid }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- PRIMITIVES -->
                    <div class="tab-pane fade" id="primitives" role="tabpanel" aria-labelledby="primitives-tab">
                      <br>
                      <table class="table table-sm table-striped">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">total</th>
                            <th class="text-success" scope="col">valid</th>
                            <th class="text-danger" scope="col">invalid</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="f in report.primitives_overview">
                            <th scope="row">{{ f.type }}</th>
                            <td>{{ f.total }}</td>
                            <td>{{ f.valid }}</td>
                            <td>{{ f.total - f.valid }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- FILE LEVEL -->
                    <div class="tab-pane fade" id="dataseterrors" role="tabpanel" aria-labelledby="dataseterrors-tab">
                      <br>
                      <table class="table table-sm table-striped">
                        <thead>
                          <tr>
                            <th scope="col">error</th>
                            <th scope="col">description</th>
                            <th scope="col">information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="e in report.dataset_errors">
                            <th scope="row">{{ e.code }}</th>
                            <td>{{ e.description }}</td>
                            <td>{{ e.info }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header text-center bg-dark text-white">
                  All features with details
                </div>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <div class="input-group m-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Type an id..." v-model="search_term"/>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Show">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Show</span>
                      </div>
                      <button type="button" class="btn btn-secondary" @click="setFeatureFilter(f => {return true;})">all</button>
                      <button type="button" class="btn btn-secondary" @click="setFeatureFilter(f => {return f.validity;})">valid</button>
                      <button type="button" class="btn btn-secondary" @click="setFeatureFilter(f => {return !f.validity;})">invalid</button>
                    </div>
                  </div>
                </div>
                <ul class="list-unstyled">
                  <feature-item :feature="feature" v-for="feature in filteredFeatures" :key="feature.id" v-show="search_term == null || search_term == '' || feature.id.includes(search_term)"></feature-item>
                </ul>
              </div>
              <br>
              <div class="text-center">
                <button type="button" class="btn btn-outline-danger" v-on:click="reset"><i class="fas fa-redo"></i> Start over</button>
              </div>
            </main>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="container">
          <div class="row">
            <main class="col-12 py-md-3">
              <div class="jumbotron jumbotron-fluid">
                <div class="container text-center">
                  <div class="page-header text-center">
                    <h2><img src="./img/val3dity2.png" width=250 alt=""/></h2>
                  </div>    
                  <h2 class="display-4">report browser</h2>
                  <br>  
                  <div class="custom-file col-6">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" ref="reportFile" @change="selectedFile">
                    <label class="custom-file-label" for="inputGroupFile01">drag your val3dity report here</label>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>