/* Page-wide styles */
html, body, h1, h2, h3, p, table, td, th {
    font-family: georgia, serif;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#summary tr:hover {
    background-color: #f5f5f5
}

table#errors {
    margin-top: 20px;
}

#errors tr:hover {
    opacity: 0.6
}

a {
    text-decoration: none;
    color: inherit;
    }
a:hover {
    text-decoration: underline;
    color: inherit;
    }

.linear-ring-level{
    background-color: #ac2824
}
.polygon-level{
    background-color: #40a635
}
.shell-level{
    background-color: #f4b368
}
.solid-level{
    background-color: #00d6ee
}
.solid-interactions-level{
    background-color: #ffafff
}
.citygml-building{
    background-color: #d6a979
}
.others{
    background-color: #00e0e5
}
