/* Page-wide styles */
html, body, h1, h2, h3, p, table, td, th {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    }

/* Set baseline grid to 16 pt. */
body {
    font-family: georgia, serif;
    font-size: 1em;
    }

html>body {
    font-size: 16px;
    }

/* Set base font size to 12/16 */
p {
    font-size: .75em;           /* 12/16 */
    line-height: 1.33333333em;  /* 16/12 */
    }

table {
    border-collapse: collapse;
    }
td {
    vertical-align: top;
}

#header {
    background: #f8f8f8;
    width: 100%;
    border-bottom: 1px solid #eee;
    }

#header .content {
    padding: 1em 3em;
    }

h1 {
    font-size: 1.5em;
    display: inline-block;
}

h2 {
    font-size: 1.25em;
    display: inline-block;
}

h3 {
    padding: 1em 0 0 3em;
    font-size: 1em;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 5em;
    position: relative;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
    font-style: italic;
}

table#summary tr:hover {
    padding-top: .5em;
    background-color: #f5f5f5;
}

table#errors {
    margin-top: 20px;
}

#errors th {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    }
a:hover {
    text-decoration: underline;
    color: inherit;
    }

.linear-ring-level{
    background-color: #FED2D2
}
.polygon-level{
    background-color: #76D36B
}
.shell-level{
    background-color: #F2AF60
}
.solid-level{
    background-color: #1BD2FF
}
.solid-interactions-level{
    background-color: #FDA4FF
}
.citygml-building{
    background-color: #D2A471
}
.others{
    background-color: #1CE0E3
}


/* Treeview */
div#tree {
    margin-top: 1em;
    margin-left: 5em;
}

button {
    font-family: sans-serif;
    font-size: .8em;
    cursor: pointer;
    border: 1px solid;
    border-color: #999 #999 #999 #999;
    padding: .2em .35em;
}

button#expandAll {
    margin-left: 6em;
    margin-top: 1em;
}

.filter_link {
    margin: .75em .1em;
}

button#invalid {
    background: #FF8C75;
}

.tree-leaf {
    position: relative;
    padding-top: 5px;
}
.tree-leaf .tree-child-leaves, .tree-error-code {
    display: block;
    margin-left: 3em;
}
.tree-leaf .hidden {
    display: none;
}
.tree-leaf .tree-expando {
    /*background: #ddd;*/
    border-radius: 10px;
    cursor: pointer;
    float: left;
    height: 10px;
    line-height: 10px;
    position: relative;
    text-align: center;
    top: 4px;
    width: 10px;
}
.tree-leaf .hidden {
    visibility: hidden;
}
.tree-leaf .tree-expando:hover {
    /*background: #aaa;*/
}
.tree-leaf .tree-leaf-text, .tree-error-code {
    display: table-cell;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}

.tree-leaf .tree-leaf-id {
    display: table-cell;
    cursor: pointer;
    float: left;
    padding-left: 60px;
    padding-right: 20px;
    font-style: italic;
}

.tree-leaf .tree-leaf-nrfaces, .tree-leaf-nrvertices, .tree-leaf-nrshells, .tree-leaf-nrsolids, .tree-error-info {
    display: table-cell;
    float: left;
    padding-left: 20px;
}

/*.tree-leaf .tree-leaf-text:hover {
    color: blue;
}*/
.tree-leaf .tree-leaf-content:before, .tree-leaf .tree-leaf-content:after {
    content: " ";
    display: table;
}
.tree-leaf .tree-leaf-content:after {
    clear: both;
}
